<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Leve Games! Lista de Produtos</title>
  </head>
  <body>
    <!-- Menu component start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Leve Games!</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/Backoffice/Home">HOME</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Backoffice/Produtos">PRODUTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONSOLES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CLIENTES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">VENDAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">RELATÓRIOS</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Menu component end -->
    <main>
      <div class="container">
        <h1 class="display-4" style="margin-top: 3rem">Consulta de Produtos</h1>
        <br>
        <table class="table table-borderless">
          <thead class="bg-light">
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Nome</th>
              <th class="text-center">Status</th>
              <th class="text-center">Qtde</th>
              <th class="text-center" colspan="3">Ação</th>
            </tr>
          </thead>
          <tr th:each="game: ${games}">
            <td class="text-center" th:text="${game.id}" />
            <td class="text-center" th:text="${game.nome}" />
            <td class="text-center" th:text="${game.disponivel_venda}" />
            <td class="text-center" th:text="${game.qtde}" />
            <td class="text-center">
              <form action="#" th:action="@{/Backoffice/Produtos/} + ${game.id}" th:method="get">
                <button class="btn btn-outline-info btn-sm" type="submit" value="submit">Atualizar</button>
              </form>
            </td>
            <td class="text-center">
              <form action="#" th:action="@{/Backoffice/Produtos/Visualizar/} + ${game.id}" th:method="get">
                <button class="btn btn-outline-info btn-sm" type="submit" value="submit">Visualizar</button>
              </form>
            </td>
            <td class="text-center">
              <form action="#" th:action="${'/Backoffice/Produtos/' + game.id}" th:method="delete">
                <button class="btn btn-outline-danger btn-sm" type="submit" value="submit" th:disabled="${session.user.cargo == 'Estoquista'}">Excluir</button>
              </form>
            </td>
          </tr>
        </table>
        <div style="text-align: right">
              <form action="#" th:action="@{/Backoffice/Produtos/Novo}" th:method="get">
                <button class="btn btn-success" type="submit" value="submit" th:disabled="${session.user.cargo == 'Estoquista'}">Adicionar Produto</button>
              </form>

        </div>

      </div>
    </main>
    <!-- Footer component start -->
    <footer class="footer mt-auto py-3" style="position: relative;left: 0;bottom: 0;width: 100%;text-align: center;">
      <div class="container">
        <a class="navbar-brand navbar-light" href="#">Leve Games!</a><br/>
        <span class="text-muted">© 2020 Leve Games! Todos os direitos reservados.</span>
      </div>
    </footer>
    <!-- Footer component end -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>